<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickSort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
      <QuickSort.Properties.Settings>
        <setting name="FolderTitleSizeLevel" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="LastUsedPath" serializeAs="String">
          <value>c:\</value>
        </setting>
        <setting name="ShowMoveDlg" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="StartPath" serializeAs="String">
          <value />
        </setting>
        <setting name="ColorThemeId" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="ShowImageFileName" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="FavoriteTargetFolderCollectionLimit" serializeAs="String">
          <value>15</value>
        </setting>
        <setting name="FavoriteTargetFolderCollectionAutoInsert" serializeAs="String">
          <value>True</value>
        </setting>
      </QuickSort.Properties.Settings>
    </userSettings>
</configuration>