<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoUnzip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AutoUnzip.Properties.Settings>
            <setting name="FilenameToSearch" serializeAs="String">
                <value>iCloud.zip</value>
            </setting>
            <setting name="WatchPath" serializeAs="String">
                <value>c:\test</value>
            </setting>
            <setting name="ExtractPath" serializeAs="String">
                <value>c:\test\extracted</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>c:\test\backup</value>
            </setting>
            <setting name="BackupRetentionPeriod" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TempFolderPrefix" serializeAs="String">
                <value>iCloud_Temp_</value>
            </setting>
            <setting name="QuickSortApp" serializeAs="String">
                <value />
            </setting>
        </AutoUnzip.Properties.Settings>
    </userSettings>
</configuration>